@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .habit-table {
    @apply table-fixed;
  }

  .habit-table th:first-child {
    @apply w-64;
    @apply pl-4;
    @apply text-left;
  }

  .habit-table td,
  .habit-table th {
    @apply p-0;
    @apply w-8;
    @apply h-8;
    @apply shrink-0;

    @apply border-solid;
    @apply border-[1px];
    @apply border-slate-200;

    @apply text-xs;
    @apply font-light;
    @apply tracking-tighter;
    @apply text-center;
    @apply text-slate-400;
  }

}

@media print {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @page {
    size: A4 landscape;
    max-height: 100%;
    max-width: 100%
	}

  * {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
