@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .habit-table td,
  .habit-table th {
    @apply border-solid;
    @apply border-[1px];
    @apply border-slate-200;

    @apply text-[10px];
    @apply font-light;
    @apply tracking-tighter;
    @apply text-slate-400;
  }
}

@media print {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @page {
    size: A4 landscape;
    max-height: 100%;
    max-width: 100%;
    margin: 16px;
	}

  * {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}
